@import url(/styles/fonts.css);
@import url(/styles/utils.css);
@import url(/styles/normalize.css);

body {
    background-color: var(--background);
}

.home-intro {
    max-width: 740px;
    padding-top: 60px;
    text-align: center;
}

.home-intro__logo {
    margin-inline: auto;
    padding-bottom: 14px;
}

.home-intro__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.home-featured {
    background-image: url(/images/home-featured-container-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 15px;
    padding-top: 30px;
    padding-inline: 200px;
}

.home-featured__info {
    margin: auto;
}

.home-featured__subtitle {
    font-size: 16px;
}

.home-featured__title {
    font-size: 36px;
}

.home-featured__description {
    font-size: 18px;
}

.home-tiles {
    text-align: center;
}

.home-tiles__header {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 18px;
}

.home-tiles__flexcolumn { 
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin-inline: auto;
    padding: 15px
}

.home-tiles__flexcolumn :first-child {
    justify-content: end;
}

.home-tiles__flexcolumn :last-child .home-tiles__card{
    flex: 1;
}

.home-tiles__flexrow {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.home-tiles__card {
    background-color: var(--cards-background);
    border-radius: 8px;
    height: auto;
}

.home-tiles__wide-card-img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
}

.home-tiles__info {
    padding: 30px 30px 50px 30px;
}

.home-tiles__narrow-card-img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.home-tiles__img-placeholder {
    border-radius: 8px;
}

.home-tiles__testimonials-slider {
    background-color: var(--cards-background);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-tiles__testimonials-slider .next-button,
.home-tiles__testimonials-slider .previous-button {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: transparent;
}

.home-tiles__testimonials-slider .next-button:hover,
.home-tiles__testimonials-slider .previous-button:hover {
    transform: scale(1.2);
}

.home-tiles__testimonials-slider .next-button img,
.home-tiles__testimonials-slider .previous-button img {
    margin: auto;
}

.home-tiles__testimonial-author-img {
    margin: auto;
    margin-bottom: 10px;
}

.home-tiles__testimonial-author-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.home-tiles__testimonial-author-subtitle {
    font-size: 14px;
    margin-bottom: 14px;
}

.home-tiles__testimonial-description {
    font-size: 14px;
}

/* .home-tiles__testimonial {
    padding: 30px 45px;
} */

.social-gallery {
    margin-bottom: 75px;
}

.social-gallery__intro {
    margin-inline: auto;
    max-width: 800px;
    margin-bottom: 10px;
}

.social-gallery__intro {
    text-align: center;
}

.social-gallery__logo {
    margin-inline: auto;
}

.social-gallery__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-gallery__slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.services {
    background-color: var(--container-background);
    padding-block: 60px;
    padding-inline: 360px;
}

.services__intro {
    margin-inline: auto;
    text-align: center;
    margin-bottom: 34px;
    max-width: 526px;
    color: var(--background);
}

.services__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
    margin-inline: auto;
}

.services__item {
    text-align: center;
    flex: 1;
    max-width: 278px
}

.services__header {
    margin-bottom: 10px;
}

.services__logo {
    margin-inline: auto;
}

.services__title {
    color: var(--background);
    text-transform: capitalize;
    font-size: 24px;
}

.client-list {
    text-align: center;
    padding-inline: 360px;
    padding-bottom: 25px;
}

.client-list__intro {
    font-size: 36px;
    max-width: 770px;
    margin-inline: auto;
    margin-bottom: 42px;

}

.client-list__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-bottom: 38px; 
}

.client-list__button-description {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.client-list__button-expand {
    background-color: #000;
    border: none;
    width: 16px;
    height: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.client-list__button-expand:hover {
    transform: scaleX(1.5);
}

.pollen-locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 460px;
}

.pollen-locations__pollen-location {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-inline: 30px;
    padding-block: 24px;
}

.pollen-locations__title {
    color: var(--background);
    font-size: 36px;
}

.pollen-locations__location {
    color: var(--background);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: end;
}

.pollen-locations__city {
    font-weight: bold;
}

.contact {
    text-align: center;
    margin-inline: 560px;
    padding-block: 90px;
}

.contact__title {
    font-size: 36px;
    margin-bottom: 9px;
}

.contact__description {
    margin-bottom: 17px;
}

.contact__button {
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #000;
    padding: 16px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.contact__button:hover {
    background-color: #000;
    color: var(--background);
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-block: 60px;
    background-color: var(--container-background);
    color: var(--background);
}

.newsletter__title {
    font-size: 36px;
}

.newsletter__text {
    font-size: 18px;
}

.newsletter__form {
    flex-basis: 650px;
}

.newsletter__input {
    width: 500px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid var(--sub-text);
    color: #fff;
    padding-block: 20px;
    margin-right: 30px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.newsletter__input::placeholder {
    color: var(--sub-text);
}

.newsletter__input:focus { 
    outline: none;
}

.newsletter__button {
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--background);
    color: var(--background);
    padding: 20px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 60px;
}

.footer-content__logo {
    max-width: 240px;
}

.footer-content {

}

.footer-content__logo {
    align-self: start;
}

.footer-content__company-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    height: 244px;
}

.footer-content__address {
    display: flex;
    width: 270px;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-content__address-city {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.footer-content__address-state {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.footer-content__address-street {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.footer-content__socials {
}