:root {
    --background: #F4F4F4;
    --sub-text: #888888;
    --main-text: #000;
    --cards-background: #fff;
    --container-background: #000;
}

.comparison-card {
    position: relative;
    display: grid;
    place-content: center;
    overflow: hidden;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    width: 100%;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--sub-text);
    font-size: 14px;
}

.title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.wide-card {
    max-width: 670px;
}

.narrow-card {
    max-width: 470px;
}

.slider-top {
    align-items: end;
}

.slider-bottom {
    align-items: start;
}